*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: rgb(14, 14, 61);
  position: relative;
  height: 100vh;
}

canvas{
  background-color: rgb(67, 0, 116);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid orange;
}

img{
  display: none
}