*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(10, 0, 10);
}
canvas{
  border: 5px solid skyblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img{
  display: none
}